{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

        <main class="main">

        
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>

                    </ol>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">


                        <div class="row row-sm">

                        </div><!-- End .row -->

                        <nav class="toolbox toolbox-pagination">

                        </nav>
                    </div><!-- End .col-lg-9 -->

                    <aside class="sidebar-shop col-lg-2 order-lg-first">
                        <div class="sidebar-wrapper">


                            <div class="widget">



                            </div><!-- End .widget -->


                        </div><!-- End .sidebar-wrapper -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- margin -->
        </main><!-- End .main -->

      {% endblock %}